.content-a {
    order: 1;
    background-color: #ef4036;
    box-sizing: border-box;
    flex-basis: 50%;
    width: 70%;

}

.content-b {
    order: 2;
    background-color: #fcb040;
    box-sizing: border-box;
    flex-basis: 50%;
    width: 70%;

}

.content-c {
    order: 3;
    background-color: #f5ee31;
    box-sizing: border-box;
    flex-basis: 100%;
    width: 30%;
}

.flex {
    display: flex;
    position: relative;
    top: 15.5vh;
    bottom: 15.5vh;
    height: 68vh;

    flex-direction: column;
    flex-wrap: wrap;
}

body {
    background-color: #ffffff;

}

* {
    margin: 0%;
    padding: 0%;
}

header {
    background-color: #d1d2d4;
    width: 100vw;
    height: 15vh;
    position: absolute;
    top: 0%;
}

footer {
    background-color: #d1d2d4;
    width: 100vw;
    height: 15vh;
    position: absolute;
    bottom: 0%;

}

/* for smartphones */
@media only screen and (max-width: 640px) {
    header {
        height: 5vh;
    }

    footer {
        height: 5vh;
    }


    .flex {
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        top: 5.5vh;
        bottom: 5.5vh;
        height: 88vh;
    }

    .content-a {
        flex-basis: 100%;
    }

    .content-b {
        flex-basis: 100%;
    }

    .content-c {
        flex-basis: 100%;
    }

}

/* for tablets */
@media only screen and (max-width: 960px) and (min-width: 640px) {
    header {
        height: 5vh;
    }

    footer {
        height: 5vh;
    }


    .flex {
        flex-wrap: wrap;
        position: relative;
        top: 5.5vh;
        bottom: 5.5vh;
        height: 88vh;
    }

    .content-a {
        width: 50%;
    }

    .content-b {
        width: 50%;
    }

    .content-c {
        width: 50%;
        flex-basis: 100%;
    }

}