.content-a {
  order: 2;
  background-color: #85cc13;
  box-sizing: border-box;
  flex-basis: 50%;

}

.content-b {
  order: 1;
  background-color: #30642e;
  box-sizing: border-box;
  flex-basis: 25%;

}

.content-c {
  order: 3;
  background-color: #f5ee31;
  box-sizing: border-box;

  flex-basis: 25%;
}

.flex {
  display: flex;
  position: relative;
  top: 15.5vh;
  bottom: 15.5vh;
  height: 68vh;

}

body {
  background-color: #ffffff;

}

* {
  margin: 0%;
  padding: 0%;
}

header {
  background-color: #d1d2d4;
  width: 100vw;
  height: 15vh;
  position: absolute;
  top: 0%;
}

footer {
  background-color: #d1d2d4;
  width: 100vw;
  height: 15vh;
  position: absolute;
  bottom: 0%;

}

/* for smartphones */
@media only screen and (max-width: 640px) {
  header {
    height: 5vh;
  }

  footer {
    height: 5vh;
  }

  .flex {
    flex-wrap: wrap;
    position: relative;
    top: 5.5vh;
    bottom: 5.5vh;
    height: 88vh;
  }

  .content-a {
    order: 1;
    flex-basis: 100%;
    height: 50%;
  }

  .content-b {
    order: 2;
    flex-basis: 100%;
    height: 25%;
  }

  .content-c {
    order: 3;
    flex-basis: 100%;
    height: 25%;
  }

}

/* for tablets */
@media only screen and (max-width: 960px)  and (min-width: 640px){
  header {
    height: 5vh;
  }

  footer {
    height: 5vh;
  }

  .flex {
    flex-wrap: wrap;
    position: relative;
    top: 5.5vh;
    bottom: 5.5vh;
    height: 88vh;
  }

  .content-a {
    order: 1;
    flex-basis: 100%;
    height: 50%;
  }

  .content-b {
    order: 2;
    flex-basis: 50%;
    height: 50%;
  }

  .content-c {
    order: 3;
    flex-basis: 50%;
    height: 50%;
  }

}